<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://rail-national.vercel.app/japan?origin=Tokyo&amp;destination=Shin-Osaka</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/japan?origin=Tokyo&amp;destination=Kyoto</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/korea?origin=Seoul%20%28SNC%29&amp;destination=Busan%20%28BSN%29</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/china?origin=Beijing%20South&amp;destination=Shanghai%20Hongqiao</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/singapore?origin=Jurong%20East&amp;destination=Raffles%20Place</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.75</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/thailand?origin=Siam&amp;destination=Sukhumvit</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.75</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/hong-kong?origin=Central&amp;destination=Tsuen%20Wan</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.75</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/united-kingdom?origin=King%27s%20Cross%20St.%20Pancras%20Underground%20Station&amp;destination=Oxford%20Circus%20Underground%20Station</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.75</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/united-states?origin=South%20Station&amp;destination=Back%20Bay</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.75</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/germany?origin=Berlin%20Hbf&amp;destination=Munich%20Hbf</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.75</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/germany?origin=Berlin%20Hbf&amp;destination=Hamburg%20Hbf</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.75</priority>
  </url>
  <url>
    <loc>https://rail-national.vercel.app/france?origin=Paris%20Gare%20de%20Lyon&amp;destination=Lyon%20Part-Dieu</loc>
    <lastmod>2026-07-07</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.75</priority>
  </url>
</urlset>
