@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  .dark {
    --color-stone-50: oklch(21.6% 0.006 56.043);
    --color-stone-100: oklch(26.8% 0.007 34.298);
    --color-stone-200: oklch(37.4% 0.01 67.558);
    --color-stone-300: oklch(44.4% 0.011 73.639);
    --color-stone-400: oklch(55.3% 0.013 58.071);
    --color-stone-500: oklch(70.9% 0.01 56.259);
    --color-stone-600: oklch(86.9% 0.005 56.366);
    --color-stone-700: oklch(92.3% 0.003 48.717);
    --color-stone-800: oklch(97% 0.001 106.424);
    --color-stone-900: oklch(98.5% 0.001 106.423);
    --color-stone-950: #ffffff;
    --color-white: oklch(14.7% 0.004 49.25);
    --color-black: oklch(98.5% 0.001 106.423);
  }
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  min-height: 100dvh;
  background-color: var(--color-stone-100);
  color: var(--color-stone-900);
}
